.booking {
  position: relative;
  z-index: 2;

  background-color: $color-pale-cornflowerblue;

  font-weight: 400;

  &__wrapper {
    padding: 50px 60px;

    display: flex;
    align-items: center;

    @media (max-width: 1265px) {
      padding: 50px 0;
    }

    @include vp-1023 {
      padding: 100px 0;
      padding-top: 90px;

      flex-direction: column;
    }

    @include vp-767 {
      padding: 65px 0;
      padding-top: 59px;
    }
  }

  img {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }

  &__content-wrapper {
    margin-right: auto;

    display: flex;
    flex-direction: column;

    max-width: 500px;

    position: relative;
    z-index: 2;

    @include vp-1023 {
      margin: 0;
      margin-bottom: 52px;
    }

    @include vp-767 {
      margin-bottom: 34px;
    }
  }

  &__title {
    margin: 0;

    position: relative;
    top: -9px;

    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    @include vp-1023 {
      top: 0;

      margin-bottom: 4px;

      font-size: 34px;
      line-height: 51px;
    }

    @include vp-767 {
      margin-bottom: 13px;

      font-size: 24px;
      line-height: 31px;
      text-align: center;
    }
  }

  &__text {
    margin: 0;
    max-width: 350px;

    text-align: left;
    font-size: 18px;
    line-height: 27px;

    br {
      display: none;

      @include vp-767 {
        display: block;
      }
    }

    @include vp-1023 {
      margin: 0 auto;

      text-align: center;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__form-wrapper {
    position: relative;
    z-index: 2;
  }
}
