.catalog-card {
    min-height: 386px;

    padding: 35px 25px;
    padding-top: 30px;

    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 2;

    background-color: $color-tangaroa;
    transition: $trans-600;

    @include vp-1023 {
        padding: 35px;
    }

    @include vp-767 {
        padding: 30px 24px 36px 24px;
    }

    &:hover,
    &:focus-within {

        box-shadow: 0px 4px 35px $color-shadow;

        img{
            transition: $trans-600;
            opacity: 0;

            z-index: -1;
        }

        .catalog-card__title {
            left: 0;
            bottom: 0;
        }
    }

    img {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        transition: $trans-600;
    }

    &__title {
        margin: 0;
        margin-bottom: 11px;

        position: relative;
        bottom: -96%;
        left: 6px;
        z-index: 3;

        font-weight: 500;
        font-size: 18px;
        line-height: 27px;

        @include vp-1023 {
            bottom: -94%;
            left: 0;
        }

        @include vp-767 {
            bottom: -97%;
            left: 0;
        }
    }

    &__list {
        margin: 0;
    }

    &__subtitle {
        padding: 0;

        font-weight: 500
    }



    &__discription {
        margin: 0;
        margin-bottom: 12px;
        padding: 0;

        color: $color-quartz;

        &:last-child {
            margin: 0;
        }
    }

    &__button {
        margin-top: auto;
        padding: 5px;

        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: $color-tangaroa;
        text-align: center;

        background-color: $color-alice-blue;

        transition: $trans-600;

        cursor: pointer;

        &--pp {
            padding-top: 9px;
            min-height: 40px;
        }

        &:focus {
            outline: none;
            opacity: 0.7;
        }

        &:hover {
            opacity: 0.5;
        }

        &:active {
            opacity: 0.3;
        }
    }
}