.contacts {
  &__wrapper {
    padding: 120px 0;

    display: flex;
    align-items: center;

    @include vp-1023 {
      padding: 100px 0;
    }

    @include vp-767 {
      padding-top: 58px;
      padding-bottom: 64px;

      flex-direction: column-reverse;
    }
  }

  iframe {
    border: 0;
    margin-right: 100px;

    width: 560px;
    height: 306px;

    @include vp-1023 {
      margin: 0;

      width: 324px;
      height: 335px;
    }

    @include vp-767 {
      width: 100%;
      height: 316px;
    }
  }

  &__content-wrapper {
    margin-left: auto;

    @include vp-767 {
      margin: 0;
      margin-bottom: 35px;

      display: flex;
      flex-direction: column;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 32px;

    max-width: 500px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    @include vp-1023 {
      margin-bottom: 28px;
      max-width: 324px;
    }
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__address-text,
  &__phone {
    margin: 0;
    padding-left: 28px;

    position: relative;
  }

  &__phone {
    display: block;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }
  }

  &__address-text {
    margin-bottom: 21px;

    br {
      display: none;

      @include vp-1023 {
        display: block;
      }
    }
  }

  &__icon {
    position: absolute;
    left: 0;
  }
}
