.footer {
    position: relative;
    z-index: 2;
    background-color: $color-tangaroa;

    &__wrapper {
        display: flex;
        align-items: center;

        padding: 63px 0;

        @include vp-767 {
            flex-direction: column;
            align-items: flex-start;

            padding: 40px 0;
        }
    }

    &__logo {
        margin-right: 40px;

        @include vp-1023 {
            margin-right: 25px;
        }

        @include vp-767 {
            margin-bottom: 30px;
        }
    }

    &__list {
        margin: 0;
        padding: 0;

        list-style: none;
        display: flex;
        flex-wrap: wrap;

        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $color-alice-blue;

        @include vp-767 {
            margin-bottom: 30px;
        }
    }

    &__link {
        color: inherit;

        cursor: pointer;
    }

    &__social-list {
        margin: 0;
        margin-left: auto;
        padding: 0;
        min-width: 106px;

        list-style: none;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 27px;

        @include vp-767 {
            margin: 0;
        }
    }

    &__social-link {
        display: block;

        &:focus {
            outline: 2px solid $color-alice-blue;
            border-radius: 1px;
            outline-offset: 5px;
        }

        &:hover {
            scale: 1.2;
            transition: $trans-600;
        }

        &:active {
            scale: 0.9;
        }
    }
}