.footer {
  position: relative;
  z-index: 2;
  background-color: $color-tangaroa;

  &__wrapper {
    display: flex;
    align-items: center;

    padding: 50px 0;
    padding-bottom: 40px;

    @include vp-1023 {
      padding: 39px 0;
    }

    @include vp-767 {
      flex-direction: column;
      align-items: flex-start;

      padding-top: 40px;
      padding-bottom: 32px;
    }
  }

  &__logo {
    margin-right: 40px;

    @include vp-1023 {
      margin-right: 25px;
    }

    @include vp-767 {
      margin-bottom: 19px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
    display: flex;
    flex-wrap: wrap;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $color-alice-blue;

    @include vp-767 {
      margin-bottom: 12px;
    }
  }

  &__link {
    display: block;
    color: inherit;

    cursor: pointer;

    @include vp-1023 {
      width: 16px;
      height: 16px;
    }
  }

  &__social-list {
    margin: 0;
    margin-left: auto;
    padding: 0;

    list-style: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px;

    @include vp-1023 {
      gap: 13px;
    }

    @include vp-767 {
      margin: 0;
    }
  }

  &__social-link {
    display: inline-block;

    &:focus {
      outline: 2px solid $color-alice-blue;
      border-radius: 1px;
      outline-offset: 5px;
    }

    &:hover {
      scale: 1.2;
      transition: $trans-600;
    }

    &:active {
      scale: 0.9;
    }
  }

  &__social-icon {
    &--ok {
      position: relative;
      right: -2px;

      @include vp-1023 {
        right: 0;
        width: 9px;
      }
    }

    &--votix {
      @include vp-1023 {
        width: 16px;
      }
    }

    &--reddi {
      @include vp-1023 {
        width: 16px;
      }
    }
  }
}
