.header {
  background-color: $color-prussian-blue;

  &__wrapper {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    padding: 35px 0;

    @include vp-1023 {
      padding-top: 30px;
    }

    @include vp-767 {
      padding-top: 20px;
    }

    &--no-js {
      flex-wrap: wrap
    }
  }

  &__logo {
    align-self: flex-start;
    margin-right: 20px;
    min-width: 70px;

    &--no-js {
      @include vp-767 {
        margin-bottom: 20px;
      }
    }
  }

  &__button {
    display: none;

    @include vp-767 {
      margin-left: auto;
      width: 24px;
      height: 18px;

      padding: 5px;

      display: block;
      position: relative;

      background-color: transparent;
      border: none;
      border-bottom: 2px solid $color-alice-blue;

      &::before,
      &::after {
        position: absolute;
        content: "";

        width: 24px;
        height: 2px;

        background-color: $color-alice-blue;
      }

      &::before {
        top: 4px;
        left: 0;
      }

      &::after {
        top: 10px;
        left: 0;
      }

      &.is-active {
        right: -11px;
        border: none;
      }

      &.is-active::before,
      &.is-active::after {
        width: 16px;

        position: absolute;
        z-index: 5;
        content: "";

        background-color: $color-tangaroa;
      }

      &.is-active::before {
        top: 10px;
        rotate: 45deg;
      }

      &.is-active::after {
        rotate: -45deg;
      }
    }


  }
}
