.navigation {
  position: relative;
  z-index: 2;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-alice-blue;

  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style: none;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    display: none;
  }

  &--no-js {
    @include vp-767 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  &--footer {
    @include vp-1023 {
      font-size: 12px;
      line-height: 15px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
    }
  }

  &--mobil-only {
    @include vp-767 {
      padding-top: 25px;
      min-width: 285px;
      min-height: 568px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      position: absolute;
      top: -20px;
      right: -8px;
      z-index: 4;

      background-color: $color-alice-blue;
      color: $color-tangaroa;
    }
  }

  &__item {
    margin-right: 33px;
    margin-bottom: 5px;

    &:last-child {
      margin-right: 0;
    }

    @include vp-1023 {
      margin-right: 23px;
    }

    @include vp-767 {
      margin: 0;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--mobil-only {
      @include vp-767 {
        margin: 0;

        position: relative;
        top: -14px;
        left: 6px;
      }
    }

    &--footer {
      @include vp-767 {
        margin: 0;
      }
    }

    &--mobil-logo-only {
      @include vp-767 {
        position: relative;
        top: -14px;
        left: 5px;
      }

    }
  }

  &__link {
    display: block;
    color: inherit;
    transition: $trans-600;

    &:focus {
      outline: 2px solid $color-alice-blue;
      border-radius: 1px;
      outline-offset: 5px;
    }

    &:hover {
      scale: 1.2;

    }

    &:active {
      scale: 0.9;
    }

    @include vp-767 {
      padding: 10px 0 8px 10px;
    }

    &--footer {
      padding: 9px 0;

      @include vp-767 {
        padding-left: 0;
      }
    }

    &--mobil-only {
      @include vp-767 {
        padding-left: 26px;

        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}
